.navbar {
  background-color: cadetblue;
}
#header {
  background-color: cadetblue;
}

#middle-container {
  background-color: gainsboro;
  padding: 3% 3%;
}

#lower-container {
  background-color: lightblue;
  padding: 3% 3%;
}

body {
  text-align: center;
  background-color: darkgrey;
}

.about {
  width: 50%;
  margin: 5% auto 5% auto;
  text-align: left;
}

.about-img {
  float: left;
  margin-right: 30px;
}

.value-img {
  float: right;
  margin-left: 30px;
}

.blog-img {
  widows: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 2% auto 2% auto;
}

.blog-text {
  line-height: 2;
  width: 40%;
  margin: auto;
}
